<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:style="'background-color:#b5e3de'" >
<p th:text="'Curriculum Vitae'" th:style="'font-weight: bold'" />
<table>
    <tr>
        <td><p>Name</p></td>
        <td><p th:text="': '+${name}" /></td>
    </tr>
    <tr>
        <td><p>Birthplace & Birthdate</p></td>
        <td><p th:text="': '+${birthInfo}" /></td>
    </tr>
    <tr>
        <td><p>Address</p></td>
        <td><p th:text="': '+${address}" /></td>
    </tr>
    <tr>
        <td><p>Education History</p></td>
        <td><p>: </p></td>
    </tr>
</table>
<table>
    <tr>
        <th>Educational level</th>
        <th>Institution</th>
        <th>Year</th>
    </tr>
    <tr>
        <td>Senior High School</td>
        <td><p th:text="${sma}" /></td>
        <td><p th:text="${smaYear}" /></td>
    </tr>
    <tr>
        <td>College</td>
        <td><p th:text="${univ}" /></td>
        <td><p th:text="${univYear}" /></td>
    </tr>
</table>
<p th:text="'About Me'" th:style="'font-weight: bold'" />
<p> An undergraduate student at Faculty of Computer Science, </p>
<p> Universitas Indonesia who has interests such as User Interface (UI),</p>
<p>   User Experience (UX), and Web Based Development. </p>
<p>   Experienced in building some web applications for educational purpose.</p>
<p>    A learner who is able to work in the team, creative, self-motivated, and ambitious.</p>
<p>    Currently seeking internship opportunity as UI/UX Designer, Back End Developer,</p>
<p>    or Front End Developer.</p>
</body>
</html>